body {
  margin:0px;
}
.wrapper {
  display: grid;
  font-family: 'Roboto';
}
.topbar {
  background: rgb(226, 255, 111);
  grid-column: 1 / 12;
  grid-row: 1;
  text-align: right;
}
.topbar-child1 {
  background: rgb(226, 255, 111);
  grid-column:  12;
  grid-row: 1;
  text-align: center;
}
.topbar-child2 {
  background: rgb(226, 255, 111);
  grid-column:  11;
  grid-row: 1;
  text-align: center;
}
.topbar-child3 {
  background: rgb(226, 255, 111);
  grid-column:  10;
  grid-row: 1;
  text-align: center;
}
.name {
  font-family: 'Oxygen';
  grid-column: 1 / 12;
  grid-row: 2;
  text-align: center;
}
// .wrapper2 {
//   display: grid;
//   font-family: 'Roboto';
// }
// .left-space {
//   grid-column: 2;
//   grid-row: auto;
// }
// .left-body {
//   background: blue;
//   grid-column: 3 / 7;
//   grid-row: auto;
// }
// .right-body {
//   grid-column: 7 / 11;
//   grid-row: auto;
// }
// .right-space {
//   grid-column: 12;
//   grid-row: auto;
// }

.container {
  font-family: 'Roboto';
  width: 50%;
  margin-left: 25%;
  align-items: center;
  background: yellow;
}
.image {
  width: 200px;
  height: 300px;
  background: url('corinnehenk.jpg') ;
  background-size: cover;
  // margin: 0 500px 0 100px;
}

// .side-text {
//
//   background: blue;
//   margin-left: 65%;
//   margin-bottom: 80%;
// }

// .side-text-2 {
//   width: 50px;
//   font-family: 'Roboto';
//   background: red;
//   margin: 1em auto;
//   padding-right: 100px;
// }


//
// @import "compass/css3";
//
// .navigation {
//   list-style: none;
//   margin: 0;
//
//   background: deepskyblue;
//
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//
//   -webkit-flex-flow: row wrap;
//   justify-content: flex-end;
// }
//
// .navigation a {
//   text-decoration: none;
//   display: block;
//   padding: 1em;
//   color: white;
// }
//
// .navigation a:hover {
//   background: darken(deepskyblue, 2%);
// }
//
// @media all and (max-width: 800px) {
//   .navigation {
//     justify-content: space-around;
//   }
// }
//
// @media all and (max-width: 600px) {
//   .navigation {
//     -webkit-flex-flow: column wrap;
//     flex-flow: column wrap;
//     padding: 0;
//   }
//
//   .navigation a {
//     text-align: center;
//     padding: 10px;
//     border-top: 1px solid rgba(255,255,255,0.3);
//     border-bottom: 1px solid rgba(0,0,0,0.1);
//   }
//
//
//   .navigation li:last-of-type a {
//     border-bottom: none;
//   }
// }
